@function rem($value) {
  @return #{calc($value / 16)}rem;
}

* {
  margin: 0;
}

.container {
  display: block;
  padding: rem(32);
  transition: all 0.3s ease;
}

h2 {
  font-weight: 600;
  font-size: rem(32);
  line-height: rem(40);
}

h2,
hr {
  margin-bottom: 2rem;
}

hr {
  border: 1px solid rgb(65 63 63);
}

p {
  margin-bottom: rem(32);
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(24);
}
