@import "../../../../scss/helpers/_helpers";
@import "../../../../scss/layout/variables";

:host {
  display: block;
  width: 100%;
}

.sort-by-tree__tree-params {
  display: block;
  width: 100%;
}

.sort-label {
  display: block;
  width: 100%;
  background: #565656;

  padding: rem(12) rem(24);
}

.sort-by-tree__item {
  display: flex;
  flex-flow: column;

  padding: rem(24);

  border-bottom: rem(1) solid #565656;
}

.sort-by-tree__item__label {
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(24);
}

.sort-by-tree__item__range {
  display: flex;
  align-items: center;

  & > span {
    width: rem(60);
  }
}

.sort-by-tree__item-check {
  display: flex;
  align-items: center;
  padding: rem(8) rem(24);
  padding-left: rem(8);

  &:first-child {
    margin-top: rem(8);
  }
}

.sort-by-tree__item-check__label {
  width: 100%;
  cursor: pointer;

  &[for="ndvi"] {
    margin-right: 1rem;
    width: auto;
  }
}
