@import "../../../../scss/helpers/_helpers";
@import "../../../../scss/layout/variables";

.change-colors-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.change-color-theme {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--green);
  color: var(--white);

  min-width: rem(100);
  min-height: rem(45);

  padding: rem(9) 0;

  border: none;
  border-radius: rem(8);

  cursor: pointer;
  transition: all var(--animation);

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(24);

  &:hover {
    opacity: 0.75;
  }

  &--default {
    background-color: var(--green);
  }

  &--gray {
    background-color: var(--grey-bg);
  }

  &--dark {
    background-color: var(--black);
  }
}
