@import "./Helpers.scss";

:host {
  position: fixed;
  left: 0;
  top: 0;

  min-width: 100%;
  min-height: rem(72);
  max-height: rem(72);
}

.header {
  position: fixed;

  background: rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(rem(22));
  color: var(--white);
  border-bottom: rem(1) solid rgb(41 41 41);

  min-height: rem(72);
  max-height: rem(72);
  min-width: 100%;
  z-index: 2000;
}

.header__wrapper {
  display: block;
  min-height: rem(72);
  max-height: rem(72);
}

.nav {
  display: flex;
  justify-content: space-between;

  padding-left: rem(32);
  padding-right: rem(32);

  min-height: rem(72);
  max-height: rem(72);
  max-width: 100%;

  @media screen and (max-width: 1600px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav__left,
.nav__right {
  display: flex;
  max-width: fit-content;

  *:not(:not(nav-logo, nav-map-switch, nav-tree-stat, nav-user-settings, nav-bar, nav-lang, nav-search)) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav__left {
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.nav__right {
  @media screen and (max-width: 1600px) {
    & > nav-login {
      order: 1;
    }

    & > nav-links {
      order: 2;
    }

    & > nav-search {
      display: none;
    }

    & > nav-lang {
      display: none;
    }
  }
}
