@import "./Helpers.scss";

:host {
  display: block;
}

.nav__logo {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  min-width: rem(160);

  & > svg {
    height: auto;
    pointer-events: none;
    width: rem(32);
  }
}

.nav__logo-link {
  color: var(--white);
  text-decoration: none;
  transition: all var(--animation);

  &:hover {
    color: var(--green);
  }

  &:active {
    opacity: 0.75;
  }
}
