@import "../../scss/layout/variables";
@import "../../scss/helpers/_helpers";
@import "../../scss/components/dropdowns";

.nav__lang {
  position: relative;
  cursor: pointer;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  margin-left: rem(12);
  max-width: 7rem;
}

.lang__lang-selected {
  @extend .dropdown-overlay__btn;

  min-width: rem(40);
}

.lang__lang-list {
  @extend .dropdown-overlay__list;

  left: 0;
  top: rem(26);
  transform: translate(0, rem(10));

  animation: popout 0.3s ease;
  cursor: auto;

  &.active {
    animation: popup 0.3s ease;
  }
}

.lang-list__item {
  text-decoration: none;
  transition: all var(--animation);
  background: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;

  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(24);

  &:hover {
    color: var(--green);
  }

  &--active {
    color: var(--green);
  }
}

@keyframes popout {
  from {
    transform: translate(0, rem(10)) scale(1);
  }

  to {
    transform: translate(0, -5rem) scale(0);
  }
}

@keyframes popup {
  from {
    transform: translate(0, -5rem) scale(0);
  }

  to {
    transform: translate(0, rem(10)) scale(1);
  }
}
