@import "../../scss/layout/variables";
@import "../../scss/helpers/_helpers";
@import "../../scss/components/dropdowns";

:host {
  display: flex;
}

.nav__map-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Golos Text", sans-serif;

  button {
    font-family: "Golos Text", sans-serif;
  }
}

.nav__map-switch {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__map-switch__location-pin-icon {
  display: block;
  height: auto;
  width: rem(24);
}

.nav__map-switch__city-selected {
  @extend .dropdown-overlay__btn;

  font-weight: 500;
  margin-left: 0;

  &::after {
    all: unset;
    display: none;
  }
}

.nav__map-switch__city-list {
  @extend .dropdown-overlay__list;

  left: 100%;
  top: 1.625rem;
  transform: translate(-100%, 0.625rem);

  animation: popout 0.3s ease;

  font-size: rem(16);
  font-weight: 500;

  &.active {
    animation: popup 0.3s ease;
  }

  & > li:last-child {
    & > button {
      margin-bottom: 0 !important;
    }
  }

  & > li > button {
    transition: all var(--animation);
    background: transparent;
    color: var(--white);
    cursor: pointer;
    border: none;
    font-size: rem(18);

    &:hover {
      color: var(--green);
    }

    &.active {
      color: var(--green);
    }
  }
}

@keyframes popout {
  from {
    transform: translate(-100%, 0.625rem) scale(1);
  }

  to {
    transform: translate(-100%, -5rem) scale(0);
  }
}

@keyframes popup {
  from {
    transform: translate(-100%, -5rem) scale(0);
  }

  to {
    transform: translate(-100%, 0.625rem) scale(1);
  }
}
