@import "../../scss/helpers/_helpers";
@import "../../scss/layout/variables";
@import "../../scss/components/dropdowns";

* {
  margin: 0;
}

.settings-wrapper {
  display: block;
  position: relative;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);

  min-height: rem(56);
  max-height: rem(60);

  @media screen and (max-width: 639px) {
    top: 0;
    transform: translate(0, 0);
  }
}

.settings-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(16);

  min-height: inherit;
  list-style: none;

  & > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(32);
    height: rem(32);

    & > svg {
      position: absolute;
      z-index: 9;
      width: rem(32);
      height: rem(32);

      & > path {
        transition: all 0.3s ease;
      }

      &.active > path {
        stroke: var(--green);
      }
    }

    &:last-child {
      display: none;
    }

    & > .settings__overlay > nav-search {
      display: none;
    }

    @media screen and (max-width: 1280px) {
      &:last-child {
        display: block;
        z-index: 1000;
      }

      & > .settings__overlay > nav-search {
        display: block;
        z-index: 1000;
      }
    }

    @media screen and (max-width: 639px) {
      & > nav-search {
        display: none;
      }
    }
  }
}

.settings-item {
  &:not([setting-type="search"]) {
    display: block;
    border: none;
    cursor: pointer;

    width: rem(32);
    height: rem(32);
    background: transparent;

    z-index: 10;

    &.active ~ svg > path {
      stroke: var(--green);
    }
  }

  &[setting-type="search"] {
    display: none;
  }

  @media screen and (max-width: 639px) {
    position: fixed;

    border-radius: rem(8);

    &[setting-type="layers"] {
      background: var(--black);
      background-color: var(--black);
      background-position: center;
      background-size: 75%;
      background-repeat: no-repeat;
      background-image: url("@/assets/images/acc1.svg");
    }

    &[setting-type="accessibility"] {
      background: var(--black);
      background-color: var(--black);
      background-position: center;
      background-size: 75%;
      background-repeat: no-repeat;
      background-image: url("@/assets/images/acc3.svg");
    }

    & ~ svg {
      display: none;
    }
  }
}

.settings__overlay {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: absolute;
  left: rem(-155);
  top: rem(52);
  transform: translate(rem(0), rem(10));

  min-width: rem(340);
  // min-height: rem(150);
  min-height: auto;
  padding: rem(16);

  transition: all var(--animation);
  filter: opacity(0);
  background: var(--dark-bg);
  visibility: hidden;

  border: rem(1) solid $dropdown-bdr;
  border-radius: rem(8);

  list-style: none;
  z-index: 10000;

  animation: popout 0.3s ease;

  &.active {
    filter: opacity(1);
    visibility: visible;
    animation: popup 0.3s ease;
  }

  @media screen and (max-width: 639px) {
    position: fixed;
    left: -30%;
    top: 50%;
    transform: translate(-50%, 18%);
    animation: popoutMobile 0.3s ease;

    &.active {
      animation: popupMobile 0.3s ease;
    }
  }

  @media screen and (max-width: 450px) {
    left: -70%;
  }

  @media screen and (max-width: 400px) {
    left: -100%;
  }
}

.settings__overlay__arrow {
  position: absolute;
  left: 50%;
  top: rem(-6);
  transform: translate(-50%, 0) rotate(45deg);

  min-width: rem(12);
  min-height: rem(12);

  border-top: rem(1) solid var(--grey-bg);
  border-left: rem(1) solid var(--grey-bg);
  border-radius: rem(2) 0 0 0;

  background: var(--dark-bg);
}

@keyframes popout {
  from {
    transform: translate(0, rem(10));
  }

  to {
    transform: translate(0, rem(-100)) scale(0);
  }
}

@keyframes popup {
  from {
    transform: translate(0, rem(-100)) scale(0);
  }

  to {
    transform: translate(0, rem(10)) scale(1);
  }
}

@keyframes popupoutMobile {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes popupMobile {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
