@import "../../scss/layout/variables";
@import "../../scss/helpers/_helpers";
@import "../../scss/components/scrollbar";
@import "../../scss/components/dropdowns";

@keyframes fadeIn {
  from {
    filter: opacity(0);
    translate: 20rem;
    scale: 0;
  }

  to {
    filter: opacity(1);
    translate: 0;
    scale: 1;
  }
}

@keyframes fadeOut {
  from {
    filter: opacity(1);
    translate: 0;
    scale: 1;
  }

  to {
    filter: opacity(0);
    translate: 20rem;
    scale: 0;
  }
}

.nav__search {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Golos Text", sans-serif;
}

.nav__search__open-btn {
  position: relative;
  font-size: 0;

  background: transparent;
  background-image: url("@/assets/images/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: rem(24);

  min-width: rem(32);
  max-width: rem(32);
  min-height: rem(32);
  max-height: rem(32);

  border: none;

  cursor: pointer;
}

@mixin transformFromRightAnimation($delay: 300ms, $range: 10rem, $curve: ease) {
  @keyframes mixinAnimation {
    from {
      transform: translate($range, 0);
    }
    to {
      transform: translate(0, 0);
    }
  }
  animation: mixinAnimation $delay $curve;
}

@keyframes transformFromRight {
  from {
    transform: translate(10rem, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes transformFromTop {
  from {
    transform: translate(0, -10rem);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes transformFromLeft {
  from {
    transform: translate(-10rem, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

.animation-in {
  .nav__search__input {
    @include transformFromRightAnimation(0.5s, 1000rem);
    z-index: -1;
  }

  .nav__search__search-type {
    @include transformFromRightAnimation(0.75s, 25rem);
    z-index: 0;
  }

  .nav__search__close-btn {
    @include transformFromRightAnimation(1s, 10rem);
  }
}

.nav__search__overlay {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  left: 100%;
  transform: translate(-100%, 0);

  transition: all var(--animation);
  background-color: var(--black);

  min-width: 100%;
  min-height: rem(48);
  max-height: rem(48);

  filter: opacity(0);
  visibility: hidden;

  border-radius: rem(8);

  animation: fadeOut 1500ms ease;

  &.active {
    filter: opacity(1);
    visibility: visible;
    animation: fadeIn 500ms ease;

    @extend .animation-in;
  }
}

.nav__search__close-btn {
  display: block;
  background-color: var(--red);

  font-size: 0;
  cursor: pointer;
  transition: all var(--animation);

  padding: rem(11) rem(15);

  min-width: rem(50);
  max-width: rem(50);
  min-height: rem(48);
  max-height: rem(48);

  background-image: url("@/assets/images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  border-top-right-radius: rem(8);
  border-bottom-right-radius: rem(8);

  &:hover {
    filter: opacity(0.75);
  }
}

.nav__search__search-type {
  position: relative;

  @media screen and (max-width: 639px) {
    order: 2;
  }
}

.nav__search__open-dropdown {
  @extend .dropdown-overlay__btn;
  position: relative;

  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  font-size: rem(16);

  justify-content: space-between;

  min-width: rem(225);
  min-height: rem(48);

  padding: rem(12);
  margin: 0;

  border: rem(1) solid var(--grey-bg);
  border-radius: 0;

  &.active {
    outline: none;
  }

  @media screen and (max-width: 639px) {
    font-size: 0;
    min-width: rem(50);
  }
}

@keyframes popout {
  from {
    transform: translate(6.25rem, 0.625rem);
  }

  to {
    transform: translate(6.25rem, -1rem);
  }
}

@keyframes popup {
  from {
    transform: translate(6.25rem, -1rem);
  }

  to {
    transform: translate(6.25rem, 0.625rem);
  }
}

.nav__search__dropdown-list {
  @extend .dropdown-overlay__list;

  outline: none;
  outline-color: var(--black);
  min-width: rem(225);

  left: rem(-93);
  top: rem(48);

  padding: 0;
  transition: all var(--animation);
  visibility: hidden;
  animation: popout 0.3s ease;

  &.active {
    visibility: visible;
    animation: popup 0.3s ease;
  }

  & > li {
    min-width: 100%;
    transition: all var(--animation);
    border-bottom: rem(1) solid var(--grey-bg);
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(1) {
      & > button {
        &::before {
          content: url("@/assets/images/location-icon.svg");
        }
      }
    }

    &:nth-child(2) {
      & > button {
        &::before {
          content: url("@/assets/images/coordinates-icon.svg");
        }
      }
    }

    &:first-child {
      border-top-left-radius: rem(8);
      border-top-right-radius: rem(8);
    }

    &:last-child {
      border-bottom-left-radius: rem(8);
      border-bottom-right-radius: rem(8);
    }
  }

  @media screen and (max-width: 639px) {
    left: rem(-250);
    font-size: 0;
    min-width: 0;
    left: rem(-100);
  }
}

.nav__search__dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: rem(8) rem(16);

  min-width: 100%;
  min-height: rem(40);

  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--white);

  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: rem(14);
  line-height: rem(20);
  border-radius: 0;
  outline-color: var(--white);

  transition: all 0.3s ease;
  cursor: pointer;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(24);
    height: rem(24);

    margin-right: rem(8);
  }

  &.active {
    background: var(--green);
  }
}

.nav__search__input {
  position: relative;

  @media screen and (max-width: 1024px) {
    max-width: rem(400);

    & > .nav__search__input-search {
      min-width: rem(400);
    }
  }

  @media screen and (max-width: 480px) {
    max-width: rem(300);

    & > .nav__search__input-search {
      max-width: rem(300);
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.nav__search__input-search {
  position: relative;

  min-width: rem(500);
  min-height: rem(48);
  max-height: rem(48);

  outline: none;
  padding-left: rem(12);

  font-family: "Golos Text", sans-serif;
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(24);

  background-color: var(--black);
  border: none;
  border: rem(1) solid var(--dropdown-bdr);
  border-right: rem(1) solid var(--dropdown-bdr);
  border-top-left-radius: rem(8);
  border-bottom-left-radius: rem(8);

  color: $h-f-color;

  @media screen and (max-width: 1639px) {
    min-width: rem(400);
  }

  @media screen and (max-width: 639px) {
    border-radius: 0;
  }

  @media screen and (max-width: 480px) {
    min-width: rem(300);
  }
}

.nav__search__search-location {
  position: absolute;
  left: 98%;
  top: 50%;
  transform: translate(-100%, -50%);

  background: transparent;
  background-image: url("@/assets/images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  transition: all var(--animation);
  cursor: pointer;
  font-size: 0;
  border: none;

  width: rem(24);
  height: rem(24);

  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 0.5;
    visibility: visible;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes heightGrowthAnimation {
  from {
    max-height: 0;
  }

  to {
    max-height: rem(400);
  }
}

@keyframes heightDecreaseAnimation {
  from {
    max-height: rem(400);
  }

  to {
    max-height: 0;
  }
}

.nav__search__input-search-result {
  position: absolute;
  top: rem(56);

  border-radius: rem(8);
  background-color: var(--dark-bg);

  transition: all var(--animation);

  min-width: 100%;
  max-height: rem(400);

  margin: 0;

  filter: opacity(0);
  visibility: hidden;

  // & > .nav__search__input-search-result__list {
  //   animation: heightDecreaseAnimation 0.3s ease-out;
  // }

  &.active {
    filter: opacity(1);
    visibility: visible;

    // & > .nav__search__input-search-result__list {
    //   animation: heightGrowthAnimation 1s ease;
    // }
  }
}

.nav__search__input-search-result__list {
  list-style: none;
  background-color: var(--dark-bg);
  border-radius: rem(8);
  max-height: rem(380);
  margin: 0;
  padding: 0;
  cursor: pointer;

  & > li {
    border: rem(1) solid var(--dropdown-bdr);
    border-top: 0;

    &:first-child {
      border-top-left-radius: rem(8);
      border-top-right-radius: rem(8);
    }

    &:last-child {
      border-bottom-left-radius: rem(8);
      border-bottom-right-radius: rem(8);
    }

    &:first-child {
      border-top: rem(1) solid var(--dropdown-bdr);
    }
  }

  overflow-y: auto;
  @extend .scrollbar;
}

.nav__search__input-search-result__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--white);
  width: 100%;
  padding: rem(12) rem(16) rem(12) rem(16);

  transition: all var(--animation);
  text-decoration: none;

  &::before {
    content: url("@/assets/images/location-icon.svg");
    margin-right: rem(4);

    position: relative;
    left: 0;
    top: rem(4);
  }

  &:hover {
    background-color: var(--green);
  }
}
