@import "../../scss/layout/variables";
@import "../../scss/helpers/_helpers";

:host {
  display: flex;
}

.nav__current-city-tree-amount-today {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  min-width: rem(100);
  min-height: rem(52);
  max-height: rem(52);

  padding: rem(8) rem(16);

  border-radius: rem(8);
  background-color: var(--green);
  gap: rem(8);

  transition: all var(--animation);

  @media screen and (max-width: 639px) {
    min-height: rem(36);
    max-height: rem(36);
  }
}

pre {
  font-family: "Golos Text", sans-serif;
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(32);

  @media screen and (max-width: 639px) {
    font-size: rem(16);
  }
}

.nav__current-city-tree-amount-today__info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: 639px) {
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
}

.nav__current-city-tree-amount-today__img {
  height: auto;
  width: rem(24);

  @media screen and (max-width: 639px) {
    width: rem(16);
  }
}

.info__tree-amount {
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(32);
  min-width: 9rem;

  @media screen and (max-width: 1000px) {
    min-width: 0;
  }
}

.info__date {
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(16);

  @media screen and (max-width: 639px) {
    font-size: rem(16);
    font-weight: 500;
    margin-top: rem(2.7);
    margin-left: rem(6);
  }
}
