@import "../../scss/helpers/_helpers";
@import "../../scss/components/scrollbar";

:host {
  position: fixed;
  left: 0;
  top: 4.5rem;
  transform: translate(0, -4.5rem);

  width: rem(478);
  height: calc(100dvh - 9.25rem);

  z-index: 1999;
  background: #000000A3;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: all 750ms ease-in-out !important;

  @media screen and (max-width: 1024px) {
    width: rem(278);
  }
}

.container {
  position: relative;
}

@keyframes leftBtnPopIn {
  from {
    transform: translate(-100%, 0) rotate(-90deg);
  }

  to {
    transform: translate(0, 0) rotate(-90deg);
  }
}

@keyframes rightBtnPopIn {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(-100%, 0);
  }
}

.container__toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: rem(50);
  cursor: pointer;

  width: rem(48);
  height: rem(48);

  border: none;
  background: var(--green);

  & > svg {
    transition: all 750ms ease-in-out;
    width: rem(24);
    height: rem(24);
  }

  &--left {
    left: 100%;
    transform: translate(0, 0) rotate(-90deg);

    border-bottom-left-radius: rem(136);
    border-bottom-right-radius: rem(136);
    animation: leftBtnPopIn 500ms ease-in-out;

    &.active {
      & > svg {
        transform: rotateX(-180deg);
        width: rem(32);
        height: rem(32);
      }
    }

    @media screen and (max-width: 1024px) {
      border-bottom-left-radius: rem(8);
      border-bottom-right-radius: rem(8);

      width: rem(48);
      height: rem(32);

      left: 98%;
    }
  }

  &--right {
    left: 0;
    transform: translate(-100%, 0);

    border-bottom-left-radius: rem(136);
    border-top-left-radius: rem(136);
    animation: rightBtnPopIn 500ms ease-in-out;

    & > svg.arrow-svg {
      display: none;
      transform: rotate(90deg);
    }

    & > svg.settings-svg {
      display: block;
    }

    &.active {
      & > svg.arrow-svg {
        transform: rotate(-90deg);
      }
    }

    @media screen and (max-width: 1024px) {
      border-bottom-left-radius: rem(8);
      border-top-left-radius: rem(8);

      width: rem(32);
      height: rem(48);

      left: 0;

      & > svg.arrow-svg {
        display: block;
      }

      & > svg.settings-svg {
        display: none;
      }
    }
  }
}

.container__cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  position: fixed;
  left: rem(-48);
  top: rem(50);
  cursor: pointer;

  width: rem(48);
  height: rem(48);

  border: none;
  background: var(--red);

  border-bottom-left-radius: rem(136);
  border-top-left-radius: rem(136);

  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.container__content {
  display: block;
  position: relative;

  width: 100%;
  height: calc(100dvh - 9.25rem);

  overflow-y: auto;
  overflow-x: hidden;

  @extend .scrollbar;

  & > tree-props-accordition,
  & > sort-accordition,
  & > news-accordition {
    position: absolute;
    left: 0;
    top: 0;
  }
}
