@import "../../scss/helpers/_helpers";

:host {
  position: relative;
  width: rem(24);
  height: rem(24);
}

.checkbox-btn {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 0.2rem;
  transition: all 0.4s ease;
  cursor: pointer;

  background-color: #212121;
  background-size: 0%;
  background-image: url("@/assets/images/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  animation: bgDecrease 0.5s ease;

  &.active {
    background-color: var(--green) !important;
    background-size: 50%;
    animation: bgIncrease 0.1s ease;
  }
}

@keyframes bgDecrease {
  from {
    background-size: 50%;
  }

  to {
    background-size: 0%;
  }
}

@keyframes bgIncrease {
  from {
    background-size: 0%;
  }

  to {
    background-size: 50%;
  }
}
