@import "../../scss/helpers/_helpers";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  width: rem(33);
  height: rem(20);
}

.toggle-btn {
  position: relative;
  transition: all 0.3s ease;
  font-size: 0;

  width: rem(33);
  height: rem(20);

  background: grey;
  border: 0;
  border-radius: rem(33);

  cursor: pointer;

  &.active {
    background: var(--green);

    & > .toggle-btn__circle {
      left: 100%;
      transform: translate(-100%, 0);
    }
  }
}

.toggle-btn__circle {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);

  width: rem(20);
  height: rem(20);

  background: var(--white);

  border: 0;
  border-radius: 50%;

  transition: all 0.3s ease;
}
