@import "../../../scss/helpers/_helpers";
@import "../../../scss/components/scrollbar";

$sort-grey: #565656;

:root {
  --sort-grey: #{$sort-grey};
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.sort-wrapper {
  display: block;

  width: 100%;
  height: 100%;
}

.sort-toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: rem(24);

  @media screen and (max-width: 1024px) {
    flex-flow: column;
    align-items: flex-start;
  }
}

.sort-toggles__title {
  font-weight: 600;
  font-size: rem(24);
  line-height: rem(32);
}

.sort-toggles__sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-toggles__sort__label {
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(24);
}

.sort-container {
  display: block;
  position: relative;
}

.sort-container__sort-by-tree,
.sort-container__sort-by-volunteers {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;

  &.active {
    display: block;
  }
}

.sort-label {
  display: block;
  width: 100%;
  background: #565656;

  padding: rem(12) rem(24);
}

.sort-method {
  display: block;
}

.sort-by-tree__search {
  display: block;
}

.search__input-wrapper {
  display: block;
  position: relative;
  width: 90%;
  height: auto;

  left: 50%;
  transform: translate(-50%, 0);
}

.search__input {
  position: relative;
  background: var(--black);
  color: #A6A6A6;
  font-family: "Golos Text", sans-serif;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  width: 100%;
  padding: rem(12);
  border: rem(1) solid #565656;
  border-radius: rem(8);
  transition: all 0.3s ease;

  &:focus {
    outline: rem(1) solid var(--green);
  }
}

.search__btn {
  position: absolute;
  left: 97%;
  top: 50%;
  transform: translate(-97%, -50%);

  font-size: 0;

  width: rem(24);
  height: rem(24);

  background: transparent;
  background-image: url("@/assets/images/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  transition: all 0.3s ease;
  border: none;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.search__result {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: #212121;
  z-index: 10000;
  border: rem(1) solid #565656;
  border-radius: rem(8);

  width: 100%;
  max-height: rem(300);

  overflow-y: auto;
  @extend .scrollbar;

  &.active {
    display: block;
  }
}

.result__list {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: rem(8);

  & > li {
    padding: rem(16);
    border-bottom: rem(1) solid #565656;
    transition: all 0.2s ease;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: rem(8);
      border-top-right-radius: rem(8);
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: var(--green);
    }
  }
}

.sort-by-tree__item {
  display: flex;
  flex-flow: column;

  padding: rem(24);

  border-bottom: rem(1) solid #565656;
}

.sort-by-tree__item__label {
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(24);
}

.sort-by-tree__item__range {
  display: flex;
  align-items: center;

  & > span {
    width: rem(60);
  }
}

.sort-by-tree__item-check {
  display: flex;
  align-items: center;
  padding: rem(16) rem(24);
}

.sort-by-volunteer__search__result {
  display: block;
}

.sort-by-volunteer__search__result__list {
  display: flex;
  flex-flow: column;
}

.list__volunteer-item {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: rem(24);
  padding: rem(16);
  border-bottom: rem(1) solid #565656;

  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.volunteer-item__left {
  display: block;
  width: rem(148);
  height: rem(148);

  & > img {
    width: 100%;
    height: auto;
  }
}

.volunteer-item__right {
  display: flex;
  flex-flow: column;
}

.volunteer-item__fullname,
.volunteer-item__planted-trees {
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(24);
}

.volunteer-item__planted-trees {
  color: var(--green);
}

.volunteer-item__ranking-place {
  & > span {
    &:first-child,
    &:last-child {
      font-size: rem(16);
      line-height: rem(24);
    }

    &:first-child {
      font-weight: 500;
    }

    &:last-child {
      color: #cccccc;
      font-weight: 400;
    }
  }
}

.volunteer-item__activity {
  & > span {
    &:first-child,
    &:last-child {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
    }

    &:last-child {
      & > span {
        color: #cccccc;
      }
    }
  }
}
