@import "../styles/ModalContainer.scss";

.content-wrapper {
  display: block;
}

.content-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-tabs__btn {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(24);
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  margin-right: rem(24);
  transition: all 0.3s ease;
  padding-bottom: rem(8);

  &.active {
    border-bottom: rem(2) solid var(--green);
  }
}

.content-article {
  display: block;
  font-size: rem(16);
  font-family: "Golos Text", sans-serif;
  font-weight: 500;

  h2,h3,h4 {
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    margin-bottom: rem(24);
  }

  p {
    font-size: rem(16);
    line-height: rem(24);
  }

  ul {
    margin-bottom: rem(24);
    padding-left: rem(48);
  }
}
