@import "../../../scss/helpers/_helpers";

.volunteer-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  gap: rem(24);
  padding: rem(16);
  border-bottom: rem(1) solid #565656;
}

.volunteer-item__left {
  display: block;
  width: rem(164);
  height: rem(164);

  & > img {
    width: 100%;
    height: auto;
  }
}

.volunteer-item__right {
  display: flex;
  flex-flow: column;
}

.volunteer-item__fullname,
.volunteer-item__planted-trees,
.volunteer-item__ranking-place,
.volunteer-item__activity,
.volunteer-item__status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volunteer-item__fullname,
.volunteer-item__planted-trees {
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(24);
}

.volunteer-item__planted-trees {
  color: var(--green);
}

.volunteer-item__ranking-place {
  & > span {
    &:first-child,
    &:last-child {
      font-size: rem(16);
      line-height: rem(24);
    }

    &:first-child {
      font-weight: 500;
    }

    &:last-child {
      color: #cccccc;
      font-weight: 400;
    }
  }
}

.volunteer-item__activity {
  & > span {
    &:first-child,
    &:last-child {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
    }

    &:last-child {
      & > span {
        color: #cccccc;
      }
    }
  }
}

.volunteer-link {
  display: flex;
  flex-flow: column;

  max-width: rem(400);

  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.volunteer-link__text {
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(24);
}

.volunteer-link__copy {
  display: block;
  width: 100%;
  height: rem(48);
}

.volunteer-link__copy > input {
  position: relative;
  width: 100%;
  height: rem(48);

  border: none;
  border-radius: rem(8);

  background: var(--black);
  color: #A6A6A6;

  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(24);

  padding-inline: rem(8);

  outline: none;
}

.volunteer-link__copy > button {
  position: absolute;
  left: 100%;
  transform: translate(-100%, 0);

  width: rem(100);
  height: rem(48);

  background: var(--green);
  color: var(--white);

  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: rem(14);
  line-height: rem(20);

  border: none;
  border-top-right-radius: rem(8);
  border-bottom-right-radius: rem(8);

  cursor: pointer;
  transition: all 0.3s ease;

  // &:hover {
  //   opacity: 0.75;
  // }

  // &:active {
  //   opacity: 0.5;
  // }
}
